
.App {
  text-align: center;
  font-family: 'Inter', sans-serif;

}
body{
  font-family: 'Inter', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
	background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(129, 129, 129, 0.599);
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(129, 129, 129, 0.977);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.MuiInputBase-input{
  color: white !important;
  border-color: white !important;
}
.MuiInputBase-input::placeholder{
  color: white !important;
}

.MuiInput-underline:before{
  left: 0;
  right: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0.646) !important; 
  pointer-events: none;
}
.MuiInput-underline:after{
  border-bottom: 2px solid #00FFD6 !important;
}
.MuiInputLabel-animated{
  color: white !important;
}
:root{
  --main-page-color: #000A1F
}

body{
  margin: 0;
}
