.mainDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-page-color);
}

.containerText h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.containerText p{
    color: white;
    text-align: center;
    margin-top: 5px;
}

.genresContainer label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 10, 31, 1);
  background-color: rgba(163, 255, 240, 1);
  height: 50px;
  width: 125px;
  cursor: pointer;
  padding: 5px;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: 0px 9px 37px -1px rgba(0,0,0,0.77);
}

.genresContainer label:hover {
  transform: scale(1.03);
  filter: none;
}

.genresContainer input {
  display: none;
}

.buttonPages {
  background-color: transparent;
  border: none;
}

.buttonPages p {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

.buttonPages p:hover {
  color: white;
}

.buttonPagesDisabled {
  background-color: transparent;
  border: none;
}

.buttonPagesDisabled p {
  color: rgba(129, 129, 129, 0.532);
  font-size: 30px;
}
