.home{
    min-height: 100vh;
}

.home .sideBar {
    background-color: #000717ED;
}

.home .text {
    color: white;
}

.home .posts {
    font-weight: bold;
    background-color: #000A1FE0;
    backdrop-filter: blur(15px);
    padding: 3%;
}

.home .posts .text {
    padding: 1% 0;
    font-weight: bold;
}