.container{
    background-color: var(--main-page-color);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    padding: 10px;
}

.container h2{
    margin-top: 20px;
}

.divHome{
    background-color: rgb(240, 255, 253);
    border-radius: 8px;
    padding: 12px;
    color: black;
    font-size: large;
    margin-top: 40px;
    transition: all 0.3s ease;
}
.divHome:hover{
    color: white;
    background-color: rgba(127, 255, 212, 0.898);
}
