.postContainer {
    background-color: #000A1FE0;
}

.postContainer .back {
    color: rgb(255, 255, 255, 1);
    opacity: 0.5;
    margin-bottom: 1%;
}

.postContainer .back svg{
    height: 50px;
    width: 50px;
}

.postContainer .back:hover {
    opacity: 1;
}

.postContainer .divPost {
    -webkit-box-shadow: 5px 5px 27px 14px rgba(0, 255, 214, 0.14);
    box-shadow: 5px 5px 27px 14px rgba(0, 255, 214, 0.14);
    border: 1px solid #00FFD6;
    border-radius: 13px;
}