.content{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 400px;
}
.formInputs{
    list-style: none;
}
.formInputs li{
    width: 100%;
    margin-bottom: 20px;
}
.selectGenres{
    width: 350px;
}
.genreoptions{
    background-color: black;
}
.newPostBtn{
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 0;
}



