.divButton button{
    border-radius: 6px;
    padding: 4px;
    width: 180px;
    font-family: 'Inter', sans-serif;
    border: none;
    letter-spacing: 2px;
    opacity: 0.6;
    cursor: pointer;
    font-size: large;
}

.divButton button:hover{
    opacity: 1;
    fill: aqua;
}