* {
    margin: 0;
    padding: 0;
}

p {
    cursor: default;
}

.containerPopularSongs h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}

.containerSong {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    border-radius: 6px;
}

.containerSong:hover {
    background-color: rgba(128, 128, 128, 0.451);
}

.songFirstHalf {
    display: flex;
    align-items: center;
}

.songFirstHalfIndex p {
    width: 20px;
    font-weight: 100;
}

.songFirstHalf img{
    width: 55px;
    background-color: gray;
    margin-right: 10px;
}

.songSecondHalf {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    font-weight: 100;
}
