
.containerRegisterDiv{
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  background-color: var(--main-page-color);
}


.divBackground{ 
  width: 50%;
  height: 100%;
  position: relative;
  top: 0;
  background-color: var(--main-page-color);
  border-radius: 0px 40px 40px 0px;
}

.divBackgroundColor{
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}

.backgroundImage{
  top: 0;
  background-image: url("../../images/original_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 40px 40px 0px;
  width: 50%;
  height: 100%;
  position: fixed;
}




.registerContainer{
    background-color: var(--main-page-color);
    height: 100%;
    width: 50%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}


.containAll{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 50px;
gap: 30px;
width: 50%;
height: auto;
}

.orderForm{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
  
.orderForm .input{
  width: 100% !important;
}

.btnRL {
    position: relative;
    height: 50px;
    width: 150px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #212121;
    transition: all 0.5s;
    border: none;
    width: 100%;
    cursor: pointer;

  }
  
  .btnRL::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00ac8f6f;
    border-radius: 5px;
    transition: all 0.3s;
    z-index: 1;
  }
  
  .btnRL:hover::before {
    opacity: 0;
    transform: scale(0.7,0.7);
  }
  
  .btnRL::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    border: 1px solid #00FFD6;
    border-radius: 5px;
    transform: scale(1.5,1.5);
    opacity: 0;
    z-index: 1;
  }
  
  .btnRL:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

  


  .googleButton{
    background-color: var(--main-page-color);
    border: 2px solid var(--main-page-color);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

  }

  .googleButton:hover{
    transition: 0.4s;
    border: 2px solid #00ffd54e;
  }
  
  .arrow{
    position: relative;
    display: block;
    color: rgb(255, 255, 255, 1);
    margin: 40px 0 0 40px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
  border: 0px;

}

.arrow::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00ac8f00;
  border-radius: 5px;
  transition: all 0.3s;
  z-index: 1;
}

.arrow:hover::before {
  opacity: 0;
  transform: scale(0.7,0.7);
}

.arrow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  border: 1px solid #00FFD6;
  border-radius: 5px;
  transform: scale(1.5,1.5);
  opacity: 0;
  z-index: 1;
}

.arrow:hover::after {
  opacity: 1;
  transform: scale(1,1);
}