
.containerRegisterDiv{
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  background-color: var(--main-page-color);
}


.divBackground{ 
  width: 50%;
  height: 100%;
  position: relative;
  top: 0;
  background-color: var(--main-page-color);
  border-radius: 0px 40px 40px 0px;
}

.divBackgroundColor{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

.backgroundImage{
  top: 0;
  background-image: url("../../images/original_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px 40px 40px 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.registerContainer{
    background-color: var(--main-page-color);
    height: 100vh;
    width: 50%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}


.containAll{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 50px;
gap: 30px;
width: 50%;
height: auto;
}

.orderForm{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
  
.orderForm .input{
  width: 100% !important;
}

.googleButton{
  background-color: var(--main-page-color);
  padding: 10px;
  cursor: pointer;
  border-radius: 100% !important;
}

  .btnRL {
      position: relative;
      height: 50px;
      color: #000A1F !important;
      font-size: 15px;
      background-color:#00FFD6 !important;
      transition: all 0.5s;
      border-radius: 40px;
      width: 100%;
      font-weight: bold !important;
      font-family: inherit !important;
    }
    

  
.arrow{
  position: relative;
  display: block;
  z-index: 10;
  border: 0px;
  color: rgb(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.5;
  padding: 15px;
}
.arrow:hover{

  opacity: 1;

}

.logo{
  width: 200px;
  height: 200px;
  z-index: 10;
  position: absolute;
  right: 40px;
  bottom: 10px;
}
button{
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}