.containerAll {
    display: flex;
    background-color: var(--main-page-color);
    width: 100vw;
    height: 100vh;
    justify-content: center
}

.containerCard {
    width: 40vw;
    height: 30vh;
    background-color: red;
}