.containerAll {
    display: flex;
    background-color: var(--main-page-color);
    width: 100vw;
    height: 100vh;
    justify-content: center
}

.containerCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 30vh;
    border-radius: 10px;
    background-color: var(--main-page-color);
    box-shadow: 0px 0px 400px 17px var(--second-page-color);
}

.btnRL {
    position: relative;
    height: 50px;
    font-size: 15px;
    border-radius: 40px !important;
    width: 100% !important;
    font-weight: bold !important;
    font-family: inherit !important;
    color: #000A1F !important;
    background-color: #00FFD6 !important;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 65%;
    height: 50%;
}

.buttonContainer {
    height: 25%;
    width: 70%;
    display: flex;
    align-items: flex-end;
}

.text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--second-page-color) !important;
    height: 25%;


}