.container p,
li,
button,
input,
h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
}

.fondo {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 10, 31, 0.88);
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.modalContainer {
  color: white;
}

.modalContainer h2 {
  font-size: 30px;
  font-weight: 600;
}

.sortContainer {
  display: flex;
  flex-direction: column;
}

.sortContainer input {
  display: none;
}

.sortContainer label {
  padding: 0;
  line-height: 27px;
}

.sortContainer label {
  cursor: pointer;
}

.sortContainer label:hover {
  color: rgba(0, 226, 190, 1);
}

.genresContainer label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 10, 31, 1);
  background-color: rgba(163, 255, 240, 1);
  height: 35px;
  width: 120px;
  cursor: pointer;
  padding: 5px;
  margin-right: 15px;
  border-radius: 15px;
}

.genresContainer label:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.genresContainer input:checked ~ label {
  background-color: rgba(0, 255, 214, 1);
}

.genresContainer input {
  display: none
}

.buttonPages {
  background-color: transparent;
  border: none;
}

.buttonPages p {
  cursor: pointer;
  color: rgba(129, 129, 129, 1);
  font-size: 30px;
}

.buttonPages p:hover {
  color: white;
}

.buttonPagesDisabled {
  background-color: transparent;
  border: none;
}

.buttonPagesDisabled p {
  color: rgba(129, 129, 129, 0.532);
  font-size: 30px;
}

.songContainer p {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  left: calc(50% - 10px / 2 );
  top: calc(50% - 40px);
}

.songContainer p:hover{
  color: rgba(0, 226, 190, 1);
}

.songDate {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 10px;
}

.songDate:hover {
  color: white;
}

.artistSong {
  color: white;
  text-decoration: none;
}

.artistSong:hover {
  color: rgba(0, 226, 190, 1);
}